# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
.pytest_cache/

# Django
*.log
.media/
media/
staticfiles/
db.sqlite3

# Secrets / env
backend/.env
.env
*.key
*.pem

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.gradle/
android/.gradle/
*.apk
*.aab
ios/Pods/

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db